.grid__container{
    width:100%;
}

.grid__row{
    @include grid-row(false);
}

// Columns in a for loop

@for $i from 1 through 16 {
  .grid__col-#{$i} { @include grid-col($i, false);}
}

@for $i from 1 through 16 {
  .grid__push-#{$i} { @include grid-push($i);}
}