.c-header{

}

.c-header__logo{
	@include grid-col(3, false);
}

.c-header__logo .inverse{
	display:none;
}



.theme-info{
	.c-header__logo .normal{
		display:none;
	}

	.c-header__logo .inverse{
		display:block;
	}
}




.c-header__about{
	@include grid-col(4, false);
}

.c-header__social{
	@include grid-col(4, false);
}


.c-header__nav{
	@include grid-col(5, false);
	text-align:right;


	ul{
		padding:0px;
		margin:0px;
		list-style: none;

		li{
			display:inline-block;
			margin-left:15px;

			a{
				font-size:28px;
				font-weight: 100;
				text-decoration: none;
				letter-spacing: 1.1px;
			}
		}
	}


	.active a{
		text-decoration: line-through;
	}

}


.c-nav__active{
	color:red !important;
}



@media(max-width:768px){

	.c-header__about, .c-header__social{
		@include grid-col(0, false);
		display:none;
	}

	.c-header__logo{
		@include grid-col(6, false);
	}

	.c-header__nav{
		@include grid-col(10, false);

		ul li a{
			font-size:20px;
			letter-spacing: 0px;
			margin-top:-15px;
			line-height: 9px;
		}
	}


}

