.c-intro{
	padding:70px 0px 200px 0px;
}

.c-intro__greeting{
	@include grid-push(3);
	@include grid-col(13, false);

	font-weight:100;
	margin-top:0px;
	margin-bottom:0px;
	font-size:18px;

}

.c-intro__message{
	@include grid-push(3);
	@include grid-col(13, false);

	h1{
		font-weight:700;
		margin-top:-30px;
		margin-bottom:0px;
		margin-left:-8px;
		font-size:120px;
	}
	
}