// Reset
html,
body,
div,
article,
p {
	margin: 0;
	padding: 0;
}

body,html{
	font-family: "adelle-sans", Times;
	font-weight:100;
	font-size:12px;

	padding:15px;

	color:black;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 100%;

	
	transition: background-color 1s ease;

}

html {
	overflow-y: scroll;
	//margin-left: calc(100vw - 100%);
}


.inner{
	//overflow-y:hidden;
}

.close{
	overflow-y:hidden;
}



.theme-info{
	background:url(/assets/common/solvstrom.jpg) no-repeat;
	background-color:#202020;
	background-size:cover;
	background-position: top center;

	color:white;
}



// Imports

// Njord
@import "../../node_modules/ljd-njord/src/grid";
@import "../../node_modules/ljd-njord/src/helpers";

//
@import "vars";
@import "grid";
@import "type";
@import "header";
@import "footer";
@import "intro";
@import "portfolio";

