.c-portfolio{
	
}

.c-porfilio__header{
	
	h2{
		@include grid-push(3);
		font-size:20px;
		font-weight: 100;
	}
}


.c-portfolio__intro{
	@include grid-push(3);
	@include grid-col(6,false);
	padding:30px 0px;

	p{
		font-size:13px;
		margin-bottom:15px;
	}

	// display:none;
}




.c-portfolio__item-close{
	visibility:hidden;
}

.c-portfolio__details{
	line-height:16px;
	
	// display:none;
}

.c-portfolio__details_list{
	list-style:none;
	padding:0px;
	margin:0px;
}

.c-portfolio__details-detail{
	@include grid-push(3);
	@include grid-col(3,false);
}

.c-portfolio__details-role{
	@include grid-col(3,false);
}

.c-portfolio__details-awards{
	@include grid-col(3,false);
}

// .c-portfolio__item--show{

// 	.c-portfolio__intro{
// 		display:block;
// 	}

// 	.c-portfolio__item-titlenumber{
// 		display:none;
// 	}

// 	.c-portfolio__item-close{
// 		visibility:visible;
// 	}

// 	.c-portfolio__slideshow{
// 		display:block;
// 	}

// 	.c-portfolio__details{
// 		display:block;
// 	}

// }