

.c-portfolioitem{
	border-top: 1px solid #e5e5e5;
	padding:20px 0px;

	cursor:pointer;

	&.show{
		cursor: default;
	}
}


.c-portfolioitem__close{
	font-size:12px;

	a, a:visited, a:hover{
		text-decoration: none;
		color:black;

		padding-left: 20px;
		height:12px;
		background:url(/assets/common/close-btn.png) no-repeat 0px 2px;

	}


}


.c-portfolioitem{
	
	.c-portfolioitem__inner{
		max-height: 0px;
		overflow:hidden;
		transition: all 0.55s;
	}

	&.show .c-portfolioitem__inner{
		max-height: 1500px;
	}


	

	.c-portfolioitem__close{		
		visibility: hidden;
	}

	&.show .c-portfolioitem__close{
		visibility: visible;
	}
}





.c-portfolioitem__list{
	list-style:none;
	padding:0px;
	margin:0px;
}

.c-portfolioitem__list:last-child{
	border-bottom: 1px solid #e5e5e5;
}






.c-portfolioitem__heading{
	.c-portfolioitem__heading-number{
		font-family: "roboto-mono",monospace;
		font-weight:700;
		font-size:12px;
	}

	.c-portfolioitem__heading-title{
		font-weight:100;
		font-size:30px;
	}
}


.c-portfolioitem__intro{
	padding:20px 0px;

	p{
		margin-bottom:15px;
	}
}





.c-portfolioitem__details{
	padding:20px 0px;

	ul{
		list-style:none;
		padding:0px;
		margin:0px;
	}

	.c-portfolioitem__details-launchsite{
		text-align: right;
		margin-top:35px;
		a{
			font-weight:100;
			font-size:15px;
		}
	}
}











.c-portfolioitem__slideshow{

}