

// .c-slideshow{
	
// }

// .c-slideshow_wrapper{
// 	text-align:center;
	
// 	list-style:none;
// }



// .c-slideshow__item{
// 	img{
// 		width:100%;
// 		height:auto;
// 	}

// 	display:inline-block;
// }

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  //animation: 30s slidy infinite; 
}


.c-portfolioitem__slideshow{
	
	max-height: 25px;
	overflow:hidden;
	transition: all 1.5s ease-out;

	&.show{
		max-height:5000px;
	}

}
